* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  .main{
    width: 100%;
  }
  div img{
    text-align: center;
  }
  .bg-gray {
    background: #eeeeee;
  }
.search{
    width: 90%;
    height: 6%;
}  
.bg-aqua{
    background-color: aqua;
    margin:2px;
    padding: 4px;
    float: left;
    width: 32.86%;
    height:90px;
}
div .wd-90{
    width: 100%; 
    height:8%;
}
footer p{
    text-align: center;
    font-size: small;
}
button{
    border-radius: 5px;
    padding: 1px 6px;
}
h3{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: large;
    font-weight: bold;
}
