.main-logo {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.search {
    display: flex;
    justify-content: center;
    align-items: center;
}

#search-box {
    width: 35vw;
    border-radius: 25px;
    height: 30px;
    border: 1px solid grey;
    margin-top: 3vh;
}

.buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    bottom: 25vh;
}

.search-btn, .feeling-lucky-btn {
    background-color: #f8f9fa;
    margin-top: 30vh;
    border: 1px solid #dadce0;
    height: 35px;
    border-radius: 9%;
}

.search-btn {
    margin-right: 10px;
}

.icons {
    position: absolute;
    width: 34vw;
}

@media (max-width: 900px) {
    #search-box {
        width: 300px;
    }
    .icons {
        width: 300px;
    }
}

#mic-icon {
    position: absolute;
    left: 0;
    top: 0;
    margin: auto;
    z-index: 2;
}

#search-icon {
    position: absolute;
    right: 0;
    z-index: 2;
}

nav {
    display: flex;
    justify-content: flex-end;
    flex-wrap: nowrap;
    position: relative;
    top: 12px;
}

nav a {
    font-size: small;
    text-decoration: none;
    color: black;
    margin: 5px;
}

.links-wrapper {
    position: relative;
    top: 0.4rem;
}


#profile-image {
    border-radius: 50%;
    height: 32px;
    width: 32px;
}

#menu-image {
    height: 25px;
    width: 25px;
}

footer {
    background-color: #f2f2f2;
    padding-top: 12px;
    padding-bottom: 12px;
    position: absolute;
    bottom: 0;
    width: 100%;
}

footer a {
    font-size: small;
    text-decoration: none;
    color: grey;
    margin-right: 10px;
}

.right-footer {
    margin-left: 20px;
}

.left-footer {
    position: absolute;
    right: 0;
    top: 0.7rem;
}

html, body {
    margin: 0;
    padding: 0;
}